<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="webapp-name" content="DannySite">
<meta name="description" content="Danny的个人网站，个人博客、个人收藏夹...">
<title>Welcome to DannySite!</title>
<link href="{{ STATIC_URL }}dannysite/css/index.css" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL }}dannysite/js/common/jquery-1.8.2.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39934073-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
	<div class="header">
    	<div class="logo">
        	<img src="{{ STATIC_URL }}dannysite/img/common/LOGO.jpg" alt="DannySite LOGO">
        </div>
        <div class="nav">
        	<a id="blog" href="blog/"><img src="{{ STATIC_URL }}dannysite/img/homepage/Blog_btn.jpg" alt="To BlogSite"></a>
        	<a id="pic" href="favorites/pics/"><img src="{{ STATIC_URL }}dannysite/img/homepage/Pic_btn.jpg" alt="To PicShare"></a>
            <a id="focus" href="favorites/focus/"><img src="{{ STATIC_URL }}dannysite/img/homepage/Focus_btn.jpg" alt="To FocusShare"></a>
            <a id="about" href="about/"><img src="{{ STATIC_URL }}dannysite/img/homepage/About_btn.jpg" alt="To About"></a>
        </div>
    </div>
	<div class="container">
    	<img id="default" src="{{ STATIC_URL }}dannysite/img/homepage/Default.jpg" alt="default" style="z-index:0">
    	<img id="blog_show" src="{{ STATIC_URL }}dannysite/img/homepage/Blog.jpg" alt="blog show" style="display:none;z-index:1">
        <img id="pic_show" src="{{ STATIC_URL }}dannysite/img/homepage/Pic.jpg" alt="pic show" style="display:none;z-index:1">
        <img id="movie_show" src="{{ STATIC_URL }}dannysite/img/homepage/Movie.jpg" alt="movie show" style="display:none;z-index:1">
    </div>
    <div class="footer">
		<img src="{{ STATIC_URL }}dannysite/img/common/Copyright.jpg" alt="Copyright Info">
    </div>
    <script>
		function bodyResize(){
			if ($(window).get(0).innerHeight < 540){
				$('body').css('margin-top', 0);
				$('body').css('top', 0);
			} else {
				$('body').css('margin-top', -270);
				$('body').css('top', '50%');
			}
		}
		
		$(document).ready(function(e) {
			var Images = ['/static/dannysite/img/homepage/Blog_hover.jpg', 
						  '/static/dannysite/img/homepage/Pic_hover.jpg', 
						  '/static/dannysite/img/homepage/Focus_hover.jpg',
						  '/static/dannysite/img/homepage/About_hover.jpg',];
			for (var i = 0; i < Images.length; i++) {
				var img = new Image();
				img.src = Images[i];
			}
			bodyResize();
			$(window).resize(bodyResize)
			$('.nav a').bind('mouseenter mouseleave', function(event){
				if (event.type == 'mouseenter' && $(this).attr('id') != 'about') {
					$('#default').dequeue().fadeTo(600, 0);
				} else {
					$('#default').dequeue().fadeTo(600, 1);
				}
			});
			$("#blog").bind('mouseenter mouseleave', function(event){
				if (event.type == 'mouseenter') {
					$(this).find('img')[0].src="/static/dannysite/img/homepage/Blog_hover.jpg";
					$('#blog_show').dequeue().fadeTo(600, 1);
				} else {
					$(this).find('img')[0].src="/static/dannysite/img/homepage/Blog_btn.jpg";
					$('#blog_show').dequeue().fadeTo(600, 0);
				}
			});
			$("#pic").bind('mouseenter mouseleave', function(event){
				if (event.type == 'mouseenter') {
					$(this).find('img')[0].src="/static/dannysite/img/homepage/Pic_hover.jpg";
					$('#pic_show').dequeue().fadeTo(600, 1);
				} else {
					$(this).find('img')[0].src="/static/dannysite/img/homepage/Pic_btn.jpg";
					$('#pic_show').dequeue().fadeTo(600, 0);
				}
			});
			$("#focus").bind('mouseenter mouseleave', function(event){
				if (event.type == 'mouseenter') {
					$(this).find('img')[0].src="/static/dannysite/img/homepage/Focus_hover.jpg";
					$('#movie_show').dequeue().fadeTo(600, 1);
				} else {
					$(this).find('img')[0].src="/static/dannysite/img/homepage/Focus_btn.jpg";
					$('#movie_show').dequeue().fadeTo(600, 0);
				}
			});
			$("#about").bind('mouseenter mouseleave', function(event){
				if (event.type == 'mouseenter') {
					$(this).find('img')[0].src="/static/dannysite/img/homepage/About_hover.jpg";
				} else {
					$(this).find('img')[0].src="/static/dannysite/img/homepage/About_btn.jpg";
				}
			});
		});
	</script>
</body>
</html>
