{% load month %}
<div class="blogBox fltlft">
	<div class="topBox">
    	<div class="timeBox fltlft enFont textCenter">
        	<span class="fs36" id="time_day">{{ blog.created|date:"j" }}</span>
            <span class="fs24" id="time_month">{{ blog.created|month|upper }}</span>
        </div>
        <div class="infoBox fltrt">
        	<div class="fs26 bg1" id="blog_title">
            	<a class="normDecorA" href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
            </div>
            <div class="fs14 bg2" id="blog_ct">
            	<span class="fltlft" id="blog_cate"><a class="blueA" href="{% url 'blog_home' %}?cat={{ blog.cate.id }}">{{ blog.cate.name }}</a></span>
                <span class="fltlft" id="blog_tags">
                	{% for tag in blog.tags.all %}
                		<a class="blueA" href="{% url 'blog_home' %}?tag={{ tag.id }}">{{ tag.name }}</a>
                	{% endfor %}
                </span>
                <span class="clearfloat"></span>
            </div>
        </div>
        <div class="clearfloat"></div>
    </div>
    <div class="contentBox bg1">
    	{{ blog.content|safe }}
    </div>
    {% if relates %}
	    <div class="blog_topic bg2">
	    	<div class="left_title textCenter">
	        	<span class="fs18 enFont">TOPIC</span>
	        </div>
	        <div class="blogs_in_topic fltrt bg1">
	        	<ul class="blog_list fs14">
	        		{% for blog in relates %}
		            	<li><a class="blueA" href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></li>
	        		{% endfor %}
	            </ul>
	        </div>
	        <div class="clearfloat"></div>
	    </div>
	{% endif %}
</div>
