{% extends "account/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extra_link %}
	<style>
		#chg_pwd_box {
			width: 541px;
			padding-bottom: 25px;
		}
		#chg_pwd_box #chg_pwd_title {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.container {
			position: absolute;
			top: 50%;
			margin-top: -274px;
		}
		#pwd_reset_info {
			padding: 15px 0;
		}
		#pwd_reset_info span{
			display: block;
			padding: 12px 0;
		}
	</style>
{% endblock %}

{% block title %}修改密码 - DannySite{% endblock %}

{% block inner_extra_js %}
	<script>
		function errorMsgPopup(title, message){
			$('#error_title').text(title);
			$('#error_msg').text(message);
			
			$('.popupBox').fadeIn('fast');
		}
		
		$(document).ready(function(){
			$('#error_confirm').bind('click', function(){
				$('.popupBox').fadeOut('fast');
			});
		});
		 
		 $(document).ready(function(){
		 	var form = $('#chg_pwd_form');
			var submit_btn = $('#chg_pwd_submit');
			var submit_status = 0;
			
			function form_submit(){
				if (submit_status){
					return false;
				}
				submit_status = 1;
				$(this).css('background-color', '#eb9300');
				$(this).text('请稍后...');
				
				$.ajax({
					url: form.attr('action'),
					type: 'POST',
					data: form.serialize(),
					dataType: 'json'
				})
				.success(function(data){
					if (data.status){
						$('.container').html(data.html).css('margin-top', '-200px');
					} else {
						errorMsgPopup('设置失败', data.message);
					}
				})
				.error(function(jqXHR, textStatus) {
					errorMsgPopup('发生错误', '表单提交失败：服务器或网络错误，请重试。');
				})
				.complete(function(jqXHR, textStatus){
					submit_btn.css('background-color', '#f39800');
					submit_btn.text('提交');
					submit_status = 0;
				});

				return false;
			}
			submit_btn.bind('click', form_submit);
		 });
	</script>
{% endblock %}

{% block container %}
	<div class="normBox bg1" id="chg_pwd_box">
    	<div class="top bg2 fs18 textCenter" id="chg_pwd_title">
        	<span>修改密码</span>
        </div>
        <form id="chg_pwd_form" action="{% url 'acct_password' %}" method="post">
        	{% csrf_token %}
        	<div class="pt26 textCenter" id="login_form_box">
              	<div class="input_box">
              		{{ form.password_current|attr:"class:xnorminput"|attr:"placeholder:旧密码" }}
              	</div>
              	<div class="input_box pt16">
              		{{ form.password_new|attr:"class:xnorminput"|attr:"placeholder:新密码" }}
              	</div>
              	<div class="input_box pt16">
              		{{ form.password_new_confirm|attr:"class:xnorminput"|attr:"placeholder:再次输入" }}
              	</div>
                <div class="input_box pt16">
                	<button class="cubeBtn" type="submit" id="chg_pwd_submit">提交</button>
                </div>
            </div>
        </form>
        <div class="clearfloat">
        </div>
    <!-- end .normBox --></div>
{% endblock %}
