{% extends "account/base.html" %}
{% load staticfiles widget_tweaks %}

{% block title %}注册 - DannySite{% endblock %}

{% block extra_link %}
	<link href="{% static 'site/v3/css/signup.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block inner_extra_js %}
	<script>
		function errorMsgPopup(title, message){
			$('#error_title').text(title);
			$('#error_msg').text(message);
			
			$('.popupBox').fadeIn('fast');
		}
		
		$(document).ready(function(){
			$('#error_confirm').bind('click', function(){
				$('.popupBox').fadeOut('fast');
			});
		});
		 
		 $(document).ready(function(){
		 	var form = $('#signup_form');
			var submit_btn = $('#signup_submit');
			var submit_status = 0;
			
			function form_submit(){
				if (submit_status){
					return false;
				}
				submit_status = 1;
				$(this).css('background-color', '#eb9300');
				$(this).text('请稍后...');
				
				$.ajax({
					url: form.attr('action'),
					type: 'POST',
					data: form.serialize(),
					dataType: 'json'
				})
				.success(function(data){
					if (data.status){
						$('.container').html(data.html);
					} else {
						errorMsgPopup('注册不成功', data.message);
					}
				})
				.error(function(jqXHR, textStatus) {
					errorMsgPopup('发生错误', '表单提交失败：服务器或网络错误，请重试。');
				})
				.complete(function(jqXHR, textStatus){
					submit_btn.css('background-color', '#f39800');
					submit_btn.text('提交');
					submit_status = 0;
				});

				return false;
			}
			submit_btn.bind('click', form_submit);
		 });
	</script>
{% endblock %}

{% block container %}
	<div class="normBox bg1" id="signup_box">
        <div class="top bg2 fs18 textCenter" id="signup_title">
            <span>加入DannySite</span>
        </div>
        <form id="signup_form" action="{% url 'acct_signup' %}" method="post">
            <div class="pt26 textCenter" id="signup_box">
            	{% csrf_token %}
                <div class="input_box">
                	{{ form.email|attr:"class:xnorminput"|attr:"placeholder:输入您的有效邮箱" }}
                </div>
                <div class="input_box pt16">
                	<button class="cubeBtn" type="submit" id="signup_submit">提交</button>
                </div>
            </div>
        </form>
        </div>
    <!-- end .normBox --></div>
{% endblock %}
