@charset "utf-8";
.topBox {
	position: relative;
	background-color: #1d8dcd;
}
.timeBox {
	width: 15%;
	height: 100%;
	color: #FFF;
	position: absolute;
	top: 50%;
	margin-top: -4.8em;
}
.timeBox .timeDay {
	display: block;
	height: 1.1em;
	font-size: 5em;
}
.timeBox .timeMonth {
	display: block;
	height: 1.1em;
	font-size: 3em;
}
.infoBox {
	width: 85%;
}
.infoBox span {
	display: block;
}
.infoBox .blogTitle {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	font-size: 3.8em;
}
.infoBox .blogCt {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	font-size: 2em;
}
.infoBox .blogCt .blogCate {
	padding-right: 1em;
	padding-left: 1em;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #a0a0a0;
}
.infoBox .blogCt .blogTags {
	padding-left: 1em;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #a0a0a0;
}
.infoBox .blogCt .blogTags a {
	padding-right: .2em;
}
.blogBox {
	margin-top: 4em;
}
.contentBox {
	font-size: 2.3em !important;
	padding: 1em 0em .1em 0em;
}
.contentBox span {
	font-size: transparent !important;
}
.contentBox img {
	max-width: 90%;
}
.contentBox a {
	color: #1d8dcd !important;
	text-decoration: none !important;
}
.actBtn {
	width: 50%;
	display: block;
	padding: 2em 0em;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
}
.menuBox {
	font-size: 2.3em;
}
.menuBox .menuBtn{
	width: 100%;
	display: block;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
	padding: 1em 0em;
}
.searchBox {
	padding: 2em 0em;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
}
.searchBox #search {
	width: 80%;
}
.paginator {
	padding-top: 2em;
}
.cmtBox {
	margin-top: 3em;
}
.cmtBox .comment {
	margin-bottom: 2em;
}
.cmtBox .cmtTitle {
	color: #FFF;
	background-color: #1d8dcd;
	padding-top: .75em;
	padding-bottom: .75em;
	font-size: 3em;
}
.cmtBox .ctavatar {
	display: inline-block;
	vertical-align: middle;
}
.cmtBox .cmtInfo {
	line-height: 3.4em;
	padding-left: 1em;
	font-size: 2.3em
}
.cmtBox .cmtContent {
	padding: 1.5em 1em;
	font-size: 2.3em;
}
.cmtBox .cmtContent p {
	margin: 0;
	padding: 0;
}
.cmtInputBox {
	margin-top: 1em;
}
.cmtInputBox .cmtFormTitle {
	color: #FFF;
	background-color: #1d8dcd;
	padding-top: .75em;
	padding-bottom: .75em;
	font-size: 3em;
}
#cmt_form_box {
	padding-top: 2em;
	padding-bottom: 1em;
}
#cmt_form_box .inputBox {
	position: relative;
}
#cmt_form_box .xnorminput {
	width: 80%;
}
#cmt_form_box .xsmallinput {
	width: 80%;
}
#cmt_form_box .xnormtextarea {
	width: 80%;
	max-width: 80%;
}
#cmt_form_box input {
	margin-bottom: .7em;
}
#cmt_form_box #captcha {
	position: absolute;
	margin-top: 1.4em;
	right: 9%;
}
#cmt_form_box #captcha img {
	width: auto !important;
	height: 5em;
	border: 0;
}
#cmt_form_box #cmt_submit_box {
	padding-top: 2em;
}
#cmt_form_box #comment_form_submit {
	width: 87.5%;
}
#info {
	padding: 1em 1em;
	font-size: 2.3em;
	display: block;
}
