{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DannySite账户注册</title>
</head>

<body style="font-family: Dengxian, 'Microsoft Yahei', Tahoma, Arial, Helvetica, Simsun, STHeiti; background-color: #FFF; padding: 0; color: #5e5e5e; margin: 0; -ms-text-size-adjust: none;">
	<div class="header" style="background-color: #f9f9f9; width: 95%; margin-left: auto; margin-right: auto; padding: 20px 20px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #eeeeee;">
    	<a href="http://{{ domain }}/"><img src="http://{{ domain }}{% static 'site/v3/img/LOGO_B.png' %}" width="120" height="20" style="display: block; border: 0; text-align: center;"></a>
    </div>
    <div class="container" style="width: 95%; background-color: #FFF; margin: 0 auto; padding: 40px 20px;">
    	<div class="title" style="background-color: #eeeeee; font-size: 18px; color: #1d8dcd; text-align: center; border-top-width: 2px; border-top-style: solid; border-top-color: #1d8dcd; width: 90%; padding: 15px 0; margin: 0 auto;">
        	<span>DannySite账户注册</span>
        </div>
      	<div class="content" style="background-color: #f9f9f9; padding: 10px 0; width: 90%; margin: 0 auto;">
            <div class="name" style="padding: 0 30px;">
              <span id="name" style="display: block; padding: 5px 0; font-size: 16px; margin: 0 auto;">亲爱的用户：</span>
            </div>
          <div class="main" style="padding: 0 60px; font-size: 14px;">
              <span style="display: block; padding: 5px 0;">感谢您对DannySite的支持！</span>
              <span style="display: block; padding: 5px 0;">您的账户现已生成：</span>
              <span style="display: block; padding: 5px 2em;">用户名：{{ username }}</span>
              <span style="display: block; padding: 5px 3em;">密码：{{ password }}</span>
              {% if is_active %}
              	<span style="display: block; padding: 5px 0;">您现在即可登录DannySite并修改您的默认密码。</span>
              {% else %}
              	<span style="display: block; padding: 5px 0;">请 <a href="{{ activate_url }}" style="color: #1d8dcd; text-decoration: none;">点击这里</a> 立即激活并使用您的账户。</span>
              {% endif %}
          </div>
        </div>
	<!-- end .container --></div>
    <div class="footer" style="font-family: Arial, Helvetica, Simsun, STHeiti; background-color: #f9f9f9; padding: 20px 20px; width: 95%; margin: 0 auto; border-top-width: 2px; border-top-style: solid; border-top-color: #eeeeee; text-align: center; font-size: 12px;">
        <span>Designed by <b><i>Danny</i></b> | Copyright 2012 - 2014 <b><i>DannyWork</i> Project</span></b>
    <!-- end .footer --></div>
</body>
</html>
