{% load gravatar %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>您在DannySite的留言有了新的回复</title>
</head>

<body style="font-family: Dengxian, 'Microsoft Yahei', Tahoma, Arial, Helvetica, Simsun, STHeiti; background-color: #FFF; padding: 0; color: #5e5e5e; margin: 0;">
	<div class="header" style="background-color: #f9f9f9; width: 95%; margin-left: auto; margin-right: auto; padding: 20px 20px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #eeeeee;">
    	<a href="http://{{ domain }}/"><img src="http://{{ domain }}{{ STATIC_URL }}site/v3/img/LOGO_B.png" width="120" height="20" style="display: block; border: 0; text-align: center;"></a>
    </div>
    <div class="container" style="width: 95%; background-color: #FFF; margin: 0 auto; padding: 40px 20px;">
    	<div class="title" style="background-color: #eeeeee; font-size: 18px; color: #1d8dcd; text-align: center; border-top-width: 2px; border-top-style: solid; border-top-color: #1d8dcd; width: 90%; padding: 15px 0; margin: 0 auto;">
        	<span>给您的回复</span>
        </div>
      	<div class="content" style="background-color: #f9f9f9; padding: 10px 0; width: 90%; margin: 0 auto;">
            <div class="name" style="padding: 0 30px;">
              	<span id="name" style="display: block; padding: 5px 0; font-size: 16px; margin: 0 auto;">亲爱的{{ comment.related.user_name }}：</span>
            </div>
          	<div class="main" style="padding: 0 60px; font-size: 14px;">
				<span style="display: block; padding: 5px 0;">感谢您对DannySite的支持！</span>
				<span style="display: block; padding: 5px 0;">您在 <a href="http://{{ domain }}{% url 'blog_detail' comment.object_pk %}" style="color: #1d8dcd; text-decoration: none;">{{ comment.content_object.title }}</a> 中发表的评论收到了新的回复：</span>
				<div class="reply" style="background-color: #eeeeee; margin: 10px 0px;">
					<img id="avatar" src="{% gravatar_url comment.user_email %}" width="62" height="62" style="display: block; float: left; margin-right: 10px;">
					<span id="comment" style="display: block; padding: 5px 0; line-height: 49px;">{{ comment.user_name }}：{{ comment.comment }}</span>
					<div class="clearfloat" style="clear:both; height:0; font-size: 1px; line-height: 0px;"></div>
				</div>
				<span style="display: block; padding: 5px 0;"><a href="http://{{ domain }}{% url 'blog_detail' comment.object_pk %}" style="color: #1d8dcd; text-decoration: none;">查看详情</a></span>
				<span style="display: block; padding: 5px 0;">如您不愿意再接收到此邮件，可以 <a href="http://{{ domain }}{% url 'mail_unsubscribe' %}?sn={{ sn }}&f=rm&m={{ comment.related.user_email }}" style="color: #1d8dcd; text-decoration: none;">点击这里</a> 取消。</span>
          	</div>
        </div>
	<!-- end .container --></div>
    <div class="footer" style="font-family: Arial, Helvetica, Simsun, STHeiti; background-color: #f9f9f9; padding: 20px 20px; width: 95%; margin: 0 auto; border-top-width: 2px; border-top-style: solid; border-top-color: #eeeeee; text-align: center; font-size: 12px;">
        <span>Designed by <b><i>Danny</i></b> | Copyright 2012 - 2014 <b><i>DannyWork</i> Project</b></span>
    <!-- end .footer --></div>
</body>
</html>
